@import '~vuetify/dist/vuetify.min.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
.v-navigation-drawer {
    z-index: 6;
}
.v-toolbar--fixed {
    z-index: 5;
}
.v-toolbar__content {
    padding-left: 16px;
    padding-right: 16px;
}
#appDrawer {
    background-color: #0D47A1
}
.fixed-header table {
    table-layout: fixed;
}
.fixed-header th {
    background-color: #fff;
    /* just for LIGHT THEME, change it to #474747 for DARK */
    position: sticky;
    top: 0;
}
.fixed-header tr.datatable__progress th {
    top: 56px;
}
.fixed-header .v-table__overflow {
    overflow: auto;
    height: 100%;
}