#app > div.application--wrap > nav {
  border-bottom: rgba(19, 17, 17, 0.12) 1px solid;
}
#app > div.application--wrap > main.v-content.white > div > nav {
  border-bottom: rgba(19, 17, 17, 0.12) 1px solid !important;
}

#app > div.application--wrap > aside > div.v-navigation-drawer__border {
  width: 0px !important;
}

#app > div.application--wrap > aside {
  top: 64px !important;
}

#app > div > main > div > div > div > div > div > div > form > div:nth-child(2) > div > div.v-input__slot{
  border: 1px solid rgb(218, 220, 224)
}

#app > div > main > div > div > div > div > div > div > form > div:nth-child(3) > div > div.v-input__slot{
  border: 1px solid rgb(218, 220, 224)
}

#navbar {
  top: 64px;
  border-bottom: rgba(19, 17, 17, 0.12) 1px solid !important;
  z-index: 4;
  width: auto;
}

#login {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.form-border-right {
  border-right: #4caf50 3px solid;
}
