.sidebar-blue-primary {
    background-color: #0E4879;
}

.sidebar-blue-primary .user-panel a:hover {
    color: #ffffff;
}

.sidebar-blue-primary .user-panel .status {
    color: #C2C7D0;
    background: rgba(255, 255, 255, 0.1);
}

.sidebar-blue-primary .user-panel .status:hover,
.sidebar-blue-primary .user-panel .status:focus,
.sidebar-blue-primary .user-panel .status:active {
    color: #ffffff;
    background: rgba(247, 247, 247, 0.1);
}

.sidebar-blue-primary .user-panel .dropdown-menu {
    border-color: rgba(242, 242, 242, 0.1);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.sidebar-blue-primary .user-panel .dropdown-item {
    color: #212529;
}

.sidebar-blue-primary .nav-sidebar > .nav-item > .nav-link:active,
.sidebar-blue-primary .nav-sidebar > .nav-item > .nav-link:focus {
    color: #C2C7D0;
}

.sidebar-blue-primary .nav-sidebar > .nav-item.menu-open > .nav-link,
.sidebar-blue-primary .nav-sidebar > .nav-item:hover > .nav-link {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-blue-primary .nav-sidebar > .nav-item > .nav-link.active {
    color: #ffffff;
    background-color: #007bff;
}

.sidebar-blue-primary .nav-sidebar > .nav-item > .nav-treeview {
    background: transparent;
}

.sidebar-blue-primary .nav-header {
    color: #d0d4db;
    background: inherit;
}

.sidebar-blue-primary .sidebar a {
    color: #C2C7D0;
}

.sidebar-blue-primary .sidebar a:hover {
    text-decoration: none;
}

.sidebar-blue-primary .nav-treeview > .nav-item > .nav-link {
    color: #C2C7D0;
}

.sidebar-blue-primary .nav-treeview > .nav-item > .nav-link:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-blue-primary .nav-treeview > .nav-item > .nav-link.active,
.sidebar-blue-primary .nav-treeview > .nav-item > .nav-link.active:hover {
    color: #343a40;
    background-color: rgba(255, 255, 255, 0.9);
}

.brand-link {
    padding: 0.8125rem 0.5rem;
    font-size: 1.25rem;
    display: block;
    line-height: 1.5;
    white-space: nowrap;
}

.brand-link:hover {
    color: #ffffff;
    text-decoration: none;
}

[class*="sidebar-blue"] .brand-link {
    color: rgba(255, 255, 255, 0.8);
    background-color: #0B3D66;
}

.mt-lg-5 {
    margin-top: 4rem !important;
}